@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
#showcase .showcase__content .showcase__content--card .btn, .container .btn {
  color: #fff;
  background: #027edb;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer; }

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4; }

#navbar__main {
  display: grid;
  grid-template-areas: 'logo links links links links ';
  background: #fff;
  color: #000; }
  #navbar__main #navbar__box--logo {
    grid-area: logo;
    border-right: 1px solid #d7dddf; }
    #navbar__main #navbar__box--logo img {
      max-width: 250px;
      display: block;
      margin: 20px auto; }
  #navbar__main #navbar__links {
    grid-area: links; }
    #navbar__main #navbar__links #navbar__box--small {
      border-bottom: 1px solid #d7dddf;
      font-size: 14px;
      padding-right: 50px; }
      #navbar__main #navbar__links #navbar__box--small ul {
        display: flex;
        justify-content: flex-end;
        list-style: none; }
        #navbar__main #navbar__links #navbar__box--small ul li {
          color: #000;
          padding: 0.5rem;
          margin: 0 2rem; }
          #navbar__main #navbar__links #navbar__box--small ul li:first-child span:first-child {
            background: #000;
            color: yellow;
            border: 1px solid #d7dddf;
            padding: 3px; }
          #navbar__main #navbar__links #navbar__box--small ul li:first-child span:nth-child(2) {
            background: #fff;
            color: #000;
            border: 1px solid #d7dddf;
            padding: 3px; }
          #navbar__main #navbar__links #navbar__box--small ul li:nth-child(2) span {
            background: #fff;
            color: #000;
            border: 1px solid #d7dddf;
            padding: 3px; }
          #navbar__main #navbar__links #navbar__box--small ul li:nth-child(5) {
            color: #fff;
            background: green; }
    #navbar__main #navbar__links #navbar__box--large ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none; }
      #navbar__main #navbar__links #navbar__box--large ul li {
        color: #000;
        padding: 1.5rem;
        margin: 0 2.5rem; }
        #navbar__main #navbar__links #navbar__box--large ul li a {
          text-decoration: none;
          color: #000;
          font-size: 1.2rem; }

#navbar__secondary {
  display: flex;
  background: #023e78;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-size: 1.4rem;
  height: 75px; }
  #navbar__secondary ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; }
    #navbar__secondary ul div a {
      text-decoration: none;
      color: inherit;
      margin: 3rem; }
    #navbar__secondary ul div:first-child {
      border-bottom: 5px #fff solid;
      height: 125px;
      padding-top: 70px;
      margin-bottom: 55px; }
    #navbar__secondary ul #navbar__secondary--menu a {
      text-decoration: none;
      color: inherit; }

#showcase {
  background: #333 url("../img/main.jpg") no-repeat center center/cover;
  height: 70vh;
  color: #fff; }
  #showcase .showcase__content {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2rem; }
    #showcase .showcase__content .showcase__content--card {
      margin-left: 200px;
      width: 350px;
      background: #fff;
      opacity: 0.9;
      color: #000;
      text-align: left;
      padding: 40px;
      font-size: 1.2;
      line-height: 1.6; }
      #showcase .showcase__content .showcase__content--card h2 {
        font-size: 2.2rem !important; }
      #showcase .showcase__content .showcase__content--card .btn {
        display: inline-block;
        width: 100%;
        padding: 20px; }

#custom .custom__links {
  text-align: center; }
  #custom .custom__links .custom__links--content {
    display: flex;
    margin-top: 30px;
    height: 100px;
    list-style: none;
    display: inline-table;
    color: blue;
    margin-bottom: -30px;
    padding: 0 55px; }
    #custom .custom__links .custom__links--content a {
      white-space: nowrap;
      width: 25%;
      text-decoration: none;
      color: inherit;
      display: inline-block;
      border: none;
      border: 1px solid blue;
      padding: 10px 100px; }
      #custom .custom__links .custom__links--content a:nth-child(odd) {
        border-right: none; }
      #custom .custom__links .custom__links--content a:nth-child(3) {
        border-left: none; }
      #custom .custom__links .custom__links--content a.active {
        background: #023e78;
        color: #fff; }

#custom #custom__content {
  height: 85vh; }

.container #dimensions__content {
  padding: 50px;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense; }
  .container #dimensions__content table {
    border-collapse: collapse;
    width: 100%;
    height: 100%; }
    .container #dimensions__content table tr th {
      text-align: left;
      font-weight: 500;
      padding-left: 20px;
      font-size: 1.3rem; }
    .container #dimensions__content table tr .table__title {
      background: #e5e8e8; }
  .container #dimensions__content td {
    border: 1px solid black;
    padding: 0 15px; }
  .container #dimensions__content img {
    margin-top: 75px; }

.container .btn {
  display: block;
  margin: 0 auto;
  width: 280px;
  padding: 15px; }

#layout__content {
  padding: 0 30px; }

#colours img {
  width: 80%;
  display: block;
  margin: auto; }

#colours #colours__choice {
  display: flex;
  justify-content: center;
  align-items: center; }
  #colours #colours__choice i {
    margin: 10px; }
  #colours #colours__choice .fas {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 5px #615c5c;
    padding: 0.1rem 0.1rem; }
  #colours #colours__choice .fas:first-child {
    color: #adada3; }
  #colours #colours__choice .fas:nth-child(2) {
    color: #951e17; }
  #colours #colours__choice .fas:nth-child(3) {
    color: #6e6e71; }
  #colours #colours__choice .fas:nth-child(4) {
    color: #b4ac74; }
  #colours #colours__choice .fas:nth-child(5) {
    color: #14172e; }
  #colours #colours__choice .fas:nth-child(6) {
    color: #20368a; }
  #colours #colours__choice .fas:nth-child(7) {
    color: #000; }
  #colours #colours__choice .fas:nth-child(8) {
    color: #686e69; }
  #colours #colours__choice .fas:last-child {
    color: #898886; }

#colours #colours__types {
  display: flex;
  text-align: center;
  padding: 0 150px; }
  #colours #colours__types div {
    display: block;
    margin: 0 auto; }
    #colours #colours__types div#non_metallic {
      padding: 20px 40px;
      border-bottom: 1px solid #000;
      margin-right: 15px; }
      #colours #colours__types div#non_metallic p {
        width: 90px; }
    #colours #colours__types div#metallic {
      padding: 20px 200px;
      border-bottom: 1px solid grey;
      margin-left: 15px; }
      #colours #colours__types div#metallic p {
        color: grey; }

#interior__content {
  display: grid;
  grid-template-areas: 'dashboard dashboard dashboard' 'titanium zetec titanium-b';
  grid-gap: 1.2rem; }
  #interior__content img {
    grid-area: dashboard;
    width: 95%;
    height: 45vh;
    display: block;
    margin: 0 auto; }
  #interior__content .interior-card {
    display: block;
    margin: auto;
    width: 85%;
    height: 250px; }
    #interior__content .interior-card img {
      width: 100%;
      height: 60%;
      margin: 0 0 30px 0; }
  #interior__content .interior-card--description {
    display: flex;
    justify-content: space-between; }
  #interior__content #titanium {
    grid-area: titanium; }
  #interior__content #zetec {
    grid-area: zetec; }
  #interior__content #titanium-black {
    grid-area: titanium-b; }
