// Tablets
@media (max-width: 1024px) {


    #navbar__main {
        display: flex;

        #navbar__box--logo {
            height: 200px;

            img {
                width: 90%;
                display: block;
                margin: 60px auto;
            }
        }

        #navbar__links {

            #navbar__box--small {
                justify-content: center;

                div {
                    margin: 0;
                }
            }
        }

        #navbar__box--large {
            ul {
                li {
                    margin: 0 !important;
                }
            }
        }
    }
}

#navbar__secondary {
    ul {
        div {
            a {
                margin: 0 30px;
            }
        }
    }
}

#showcase {

    .showcase__content {
        .showcase__content--card {
            margin-left: 0;
            padding: 20px;

            .btn {
                display: block;
                margin: 10px auto;
                width: 80%;
            }
        }

    }
}

#custom {
    .custom__links {

        display: block;
        padding: 10px;

        .custom__links--content {
            padding: 0;

            a {
                padding: 10px 60px;
            }
        }
    }
}



.container {
    #dimensions__content {
        margin-top: 80px;

        img {
            margin-top: 40px;
            width: 100%;
        }
    }
}

#colours {
    margin-top: 70px;
}




#interior__content {
    margin-bottom: 80px;


}



#motability {
    .motability__content {
        .motability__content--card {
            margin-left: 0;
        }
    }
}

footer {

    #footer__content {
        .logo-box {

            img {
                width: 100%;
            }
        }
    }

    .links-box {
        margin: 0;

        a {
            margin-top: 20px;
            color: #fff;
            padding: 0;

        }
    }
}

@media (max-width: 768px) {
    #navbar__main {
        display: flex;

        #navbar__box--logo {
            height: 200px;

            img {
                width: 90%;
                display: block;
                margin: 80px auto;
            }
        }
    }

    #navbar__secondary {
        #navbar__secondary--menu {
            margin-left: -30px;
        }

        ul {
            div {
                a {
                    margin: 0 10px;
                }
            }
        }
    }

    #showcase {

        .showcase__content {
            .showcase__content--card {
                width: 40%;
                margin-left: 0;
                padding: 10px 20px;

                .btn {
                    display: block;
                    margin: 10px auto;
                    width: 80%;
                }
            }

        }
    }

    #custom {


        .custom__links {
            .custom__links--content {
                a {
                    padding: 10px 50px;
                }
            }
        }
    }

    #layout__content {
        margin-top: 100px;
        padding: 0 30px;

        div {


            #imgOne {
                width: 80%;
                height: 200px;
            }

            #imgTwo {
                width: 100%;
                height: 200px;
            }
        }
    }

    .container {
        #interior__content {
            img {
                grid-area: dashboard;
                width: 95%;
                height: 300px;
                display: block;
                margin: 0 auto;
            }
        }

        #btn-int {
            margin-top: -50px;
        }
    }

    #colours {
        #colours__types {
            padding: 0;
        }
    }




    footer {

        #footer__content {
            .logo-box {

                img {
                    width: 100%;
                }
            }
        }

        .links-box {
            margin: 0;

            a {
                margin-top: 20px;
                color: #fff;
                padding: 0;

            }
        }
    }

}

// Smartphones
@media (max-width: 500px) {
    #navbar__main {
        display: block;

        #navbar__box--logo {
            height: 100px;



            img {
                width: 50%;
                display: block;
                margin: 20px auto;
            }

            #hamburger__menu {

                display: initial;

                ul {
                    transition: 0.3s all ease;
                    position: absolute;
                    width: 100%;
                    height: 120px;
                    left: -900px;

                    li {
                        margin-top: 5px;
                    }
                }


                .open {
                    left: 0px !important;
                }

                .hamburger {
                    position: absolute;
                    top: 20px;
                    left: 10px;

                }

                .hamburger:hover {
                    cursor: pointer;
                }

                .hamburger span {
                    display: block;
                    background: #000;
                    margin: 6px 0;
                    height: 4px;
                    width: 36px;
                    border-radius: 2px;
                    position: relative;
                    transition: 0.3s;

                }

                .change.first-bar {
                    top: 11px;
                    transform: rotate(45deg);
                }


                .change.second-bar {
                    opacity: 0
                }


                .change.third-bar {
                    bottom: 9px;
                    transform: rotate(-45deg);
                }

                .menu-item {
                    transition: 0.3s all ease;
                    color: #000;
                    text-decoration: none;
                    font-size: 20px;
                    margin-left: 20px;

                }
            }
        }

        #navbar__links {
            display: none;
        }


    }

    #navbar__secondary {
        ul {
            display: none;

        }


    }

    #showcase {

        .showcase__content {
            .showcase__content--card {
                h2 {
                    font-size: 20px !important;
                }

                p {
                    display: none;
                }

                .btn {
                    display: none;
                }
            }

        }
    }

    #custom {
        .custom__links {
            .custom__links--content {
                a {
                    width: 45%;
                    padding: 3px;
                    margin: 3px;
                    border: 1px solid blue !important;
                }
            }
        }

        #custom__content {
            height: 1020px;
        }
    }

    .container {
        #dimensions__content {
            padding: 0;
            grid-template-columns: 1fr;
        }

    }

    #description {
        padding-top: 0;
    }

    #colours {
        #colours__choice {
            flex-direction: column;
        }

        #colours__types {
            display: none;
        }
    }

    #layout__content {
        margin-top: 150px;

        div {

            #imgOne,
            #imgTwo {
                height: 100px;
            }

        }
    }

    .container {
        #interior__content {

            grid-template-areas: 'titanium'
                'zetec'
                'titanium-b';

            #dashboard {
                display: none;
            }


        }
    }

    #gallery {
        display: none;
    }


    #motability {
        .motability__content {
            .motability__content--card {
                width: 45%;
                padding: 20px;

                .btn {
                    display: block;
                    margin: 15px auto;
                    width: 80%;
                }
            }
        }
    }

    #motability {
        .motability__content {
            .motability__content--card {
                h2 {
                    font-size: 20px !important;
                }

                p {
                    display: none;
                }

                .btn {
                    display: none !important;
                }
            }
        }
    }

    #contact__form {

        display: block;
        margin: 10px auto;
        float: none;
        width: 80vw;

        h2 {
            font-size: 20px !important;
        }

        p {
            font-size: 14px;
        }

    }

    footer {

        #footer__content {
            grid-template-columns: 1fr;
        }

        .links-box {
            display: none;
        }


    }
}