@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;


}

.shift {
  height: 250px !important;
}

// Main navbar
#navbar__main {
  display: grid;
  grid-template-areas: 'logo links';
  background: #fff;
  color: #000;



  #navbar__box--logo {
    grid-area: logo;
    border-right: $box-border;

    img {
      width: 60%;
      display: block;
      margin: 20px auto;
    }
  }



  #navbar__links {
    grid-area: links;

    #navbar__box--small {
      border-bottom: $box-border;
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;


      div {
        color: #000;
        padding: 0.5rem;
        margin: 0 2rem;

        &:first-child {
          span:first-child {
            background: #000;
            color: yellow;
            border: $box-border;
            padding: 3px;
          }

          span:nth-child(2) {
            background: #fff;
            color: #000;
            border: $box-border;
            padding: 3px;
          }
        }

        &:nth-child(2) {
          span {
            background: #fff;
            color: #000;
            border: $box-border;
            padding: 3px;
          }
        }

        &:nth-child(5) {
          color: #fff;
          background: green;
          margin-right: 0px;
        }
      }
    }

    #navbar__box--large {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {

          color: #000;
          padding: 1.5rem;
          margin: 0 2.5rem;

          a {
            text-decoration: none;
            color: #000;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  #hamburger__menu {
    display: none;
  }

}


// Secondary Navbar
#navbar__secondary {
  display: flex;
  background: #023e78;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-size: 1.4rem;
  height: 75px;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    div {
      a {
        text-decoration: none;
        color: inherit;
        margin: 3rem;
      }

      &:first-child {
        border-bottom: 5px #fff solid;
        height: 125px;
        padding-top: 70px;
        margin-bottom: 55px;
      }
    }

    #navbar__secondary--menu {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

// Showcase
#showcase {
  background: #333 url('../img/main.jpg') no-repeat center center/cover;
  height: 600px;
  color: #fff;

  .showcase__content {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2rem;

    .showcase__content--card {
      margin-left: 200px;
      width: 350px;
      background: #fff;
      opacity: 0.9;
      color: #000;
      text-align: left;
      padding: 40px;
      font-size: 1.2;
      line-height: 1.6;

      h2 {
        font-size: 2.2rem !important;
      }

      .btn {
        @extend %btn-blue;
        display: inline-block;
        width: 100%;
        padding: 20px;
      }
    }
  }
}

// Customization
#custom {
  .custom__links {
    text-align: center;

    .custom__links--content {
      display: flex;
      margin-top: 30px;
      height: 100px;
      list-style: none;
      display: inline-table;
      color: blue;
      margin-bottom: -30px;
      padding: 0 55px;

      a {
        white-space: nowrap;
        width: 25%;
        text-decoration: none;
        color: inherit;
        display: inline-block;
        border: none;
        border: 1px solid blue;
        padding: 10px 100px;

        &:nth-child(odd) {
          border-right: none;
        }

        &:nth-child(3) {
          border-left: none;
        }

        &.active {
          background: #023e78;
          color: #fff;
        }
      }
    }
  }

  #custom__content {
    height: 850px;
  }
}

// Custom content / Dimensions

.container {
  #dimensions__content {
    padding: 50px;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;

    table {
      border-collapse: collapse;
      width: 100%;
      height: 100%;

      tr {
        th {
          text-align: left;
          font-weight: 500;
          padding-left: 20px;
          font-size: 1.3rem;
        }

        .table__title {
          background: #e5e8e8;
        }
      }
    }

    td {
      border: 1px solid black;
      padding: 0 15px;
    }

    img {
      margin-top: 75px;
    }
  }

  .btn {
    @extend %btn-blue;
    display: block;
    margin: 0 auto;
    width: 280px;
    padding: 15px;
  }
}

// Custom / layouts
#layout__content {
  padding: 0 30px;

}



// Custom / colour
#colours {
  img {
    width: 80%;
    display: block;
    margin: auto;
  }

  #colours__choice {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      margin: 10px;
    }

    .fas {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0px 0px 5px rgb(97, 92, 92);
      padding: 0.1rem 0.1rem;
    }

    .fas:first-child {
      color: #adada3;
    }

    .fas:nth-child(2) {
      color: #951e17;
    }

    .fas:nth-child(3) {
      color: #6e6e71;
    }

    .fas:nth-child(4) {
      color: #b4ac74;
    }

    .fas:nth-child(5) {
      color: #14172e;
    }

    .fas:nth-child(6) {
      color: #20368a;
    }

    .fas:nth-child(7) {
      color: #000;
    }

    .fas:nth-child(8) {
      color: #686e69;
    }

    .fas:last-child {
      color: #898886;
    }
  }

  #colours__types {
    display: flex;
    text-align: center;
    padding: 0 150px;

    div {
      display: block;
      margin: 0 auto;

      &#non_metallic {
        padding: 20px 40px;
        border-bottom: 1px solid #000;
        margin-right: 15px;

        p {
          width: 90px;
        }
      }

      &#metallic {
        padding: 20px 200px;
        border-bottom: 1px solid grey;
        margin-left: 15px;

        p {
          color: grey;
        }
      }
    }
  }
}


// Custom / Interior
.container {
  #interior__content {
    display: grid;
    grid-template-areas:
      'dashboard dashboard dashboard'
      'titanium zetec titanium-b';
    grid-gap: 1.2rem;

    img {
      grid-area: dashboard;
      width: 95%;
      height: 400px;
      display: block;
      margin: 0 auto;
    }


    .interior-card {
      display: block;
      margin: 0 auto;
      width: 85%;
      height: 300px;

      img {
        width: 100%;
        height: 150px;
        margin: 0 0 30px 0;
      }
    }

    .interior-card--description {
      display: flex;
      justify-content: space-between;
    }

    #titanium {
      grid-area: titanium;
    }

    #zetec {
      grid-area: zetec;
    }

    #titanium-black {
      grid-area: titanium-b;
    }

  }

  #btn-int {
    margin-top: -50px;
  }
}

// Galery
#gallery {
  overflow: hidden;

  /* Slideshow container */
  .slideshow-container {
    width: 100vw;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }



  /* Number text (1/3 etc) */
  .numbertext {
    color: #fff;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
  }



  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }
}

// Description
#description {
  padding: 60px 0;

  p {
    padding: 20px 0;
    font-size: 18px;
    line-height: 1.4;
  }

  .btn {
    @extend %btn-blue;
    display: block;
    margin: 0 auto;
    width: 280px;
    padding: 15px;
  }
}

// Motability
#motability {
  background: #333 url('../img/motability.jpg') no-repeat center center/cover;
  height: 700px;
  color: #fff;

  .motability__content {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2rem;

    .motability__content--card {
      margin-left: 200px;
      width: 400px;
      background: #fff;
      opacity: 0.9;
      color: #000;
      text-align: left;
      padding: 40px;
      font-size: 1.2;
      line-height: 1.6;

      h2 {
        font-size: 2.2rem !important;
      }

      .btn {
        @extend %btn-blue;
        display: inline-block;
        width: 100%;
        padding: 20px;
      }
    }
  }
}

// Footer
footer {
  color: grey;
  height: 350px;
  background: #43484d;

  #footer__content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 3rem;

    .logo-box {
      margin-right: 100px;

      img {
        margin-top: 50px;
      }
    }
  }

  .links-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      text-decoration: none;
      color: inherit;
      color: #fff;
      padding: 5px;
      font-size: 20px;
    }
  }

  #address {
    font-size: 12px;
    padding: 40px 0 20px 0;
  }
}

// Contact form


#contact__form {
  float: right;
  margin: 50px 10px;
  border: 2px grey solid;
  margin-right: 200px;
  max-width: 500px;
  background: #fff;
  opacity: 0.9;
  color: #000;
  text-align: left;
  padding: 40px;
  font-size: 1.2;
  line-height: 1.6;

  form {
    margin-top: 10px;
    display: flex;

    input {
      margin: 0 5px;
      font-size: 16px;
      height: 35px;
    }

    #name,
    #number {
      width: 45%;
      padding-left: 10px;
    }

    #submit {
      padding: 0 7px;
      background: darkblue;
      color: white;
      border: none;
      outline: none;
      border-radius: 5px;
    }

  }

  h2 {
    font-size: 2.2rem !important;
  }

  .btn {
    @extend %btn-blue;
    display: inline-block;
    width: 100%;
    padding: 20px;
  }
}

@import 'media';